<!-- footer -->
<footer>
	<div class="footer__main">
		<div id="footer__logo">clever</div>
		<div id="footer_describe">
			<h1>능동적인 학습을 위한 문제은행 </h1>
			<div class="madePeople">
				<img src="/imgs/footer/member.svg" />
				<p>김진영 강경운 심우석 오다원</p>
			</div>
		</div>
	</div>
	<div class="footer__side">
		<p class="copyright">Copyright © 2022 By Clever. All Rights
			Reserved.</p>
		<div class="footer_icons">
			<a href="https://github.com/StoneSilver0417/TeamProject.git"><img
				src="/imgs/footer/github.svg"></a>
		</div>
	</div>
</footer>