<div th:with="info = ${session.user}" class="edit__info">
  <h3>비밀번호</h3>
  <p>현재 비밀번호</p>
  <input
    type="password"
    id="userPwd"
    name="userPwd"
    placeholder="현재 비밀번호"
    autocomplete="off"
    autocapitalize="off"
    class="input__userInfo"
    required
  />
  <p>변경할 비밀번호</p>
  <input
    type="password"
    id="userPwd2"
    name="userPwd2"
    placeholder="변경할 비밀번호"
    autocomplete="off"
    autocapitalize="off"
    class="input__userInfo"
    required
  />
  <input
    type="password"
    id="userPwd3"
    name="userPwd3"
    placeholder="변경할 비밀번호 확인"
    autocomplete="off"
    autocapitalize="off"
    class="input__userInfo"
    required
  />
  <input th:value="${info.userId}" id="userId" type="hidden">
  <button onclick="updatePwdBtn()" class="submitButton">저장</button>
</div>
<button onclick="cancelPwdBtn()" class="cancelBtn btn">취소</button>
