<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" /><meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Clever</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/error/error.css" />
</head>
<body>
	<section id="Error">
		<img src="/imgs/etc/403.svg" />
		<h1>403</h1>
		<p>잘못된 주소로 접근하였습니다</p>
		<p>요청하신 페이지 접근이 거부되었습니다.</p>
		<p>입력하신 페이지의 주소가 정확한지 다시 한번 확인해주시기 바랍니다.</p>
		<form action="/">
			<button id="goToHomeBtn">홈으로 이동</button>
		</form>
	</section>
</body>
</html>
