<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/main/header.css" />
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url:'/test/list',
			type:'post',
			data:{categoryNo:$('#categoryNo').attr('value')},
			success:function(data){
				$.ajax({
					url:'/test',
					type:'post',
					data:{param:JSON.stringify(data)},
					success:function(data){
						$('#testList').html(data);
					}
				})
			}
		})
	})
</script>
</head>
<body>	
	<div th:replace="layout/header :: header"></div>
	<hr>
	<p id="categoryNo" th:value="${category.categoryNo}" th:text="${category.categoryName}"></p>
	<div id="testList">
	</div>	
</body>
</html>