<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Clever</title>
<script type="text/javascript">
	function questDetailsBtn(button) {
		var no = button.value;
		window.open('about:blank').location.href = '/quest/' + no;
	}
</script>
</head>
<body>
	<div class="quest" th:each="quest:${questList}">
		<div class="questNumAndQuestContent">
			<p class="questInfo">
				<span class="questNum" th:text="${quest.questSeq}">문제 번호</span><span
					class="questNum">.</span> <span class="questContent"
					th:text="${quest.questContent}">문제 내용</span>
			</p>
		</div>
		<div class="questChoices" th:value="${quest.questNo}">
			<ol th:with="choice = ${quest.choice}">
				<li th:if="${choice.c1 != null}">
					<label>
						<input type="radio" th:name="${'choice' + quest.questNo}" class="choice"  th:text="${choice.c1}" value="1"/>
					</label>
				</li>
				<li th:if="${choice.c2 != null}">
					<label>
						<input type="radio" th:name="${'choice' + quest.questNo}" class="choice"  th:text="${choice.c2}" value="2"/>
					</label>
				</li>
				<li th:if="${choice.c3 != null && choice.c3 !=''}">
					<label>
						<input type="radio" th:name="${'choice' + quest.questNo}" class="choice"  th:text="${choice.c3}" value="3"/>
					</label>
				</li>
				<li th:if="${choice.c4 != null && choice.c4 !=''}">
					<label>
						<input type="radio" th:name="${'choice' + quest.questNo}" class="choice"  th:text="${choice.c4}" value="4"/>
					</label>
				</li>
				<li th:if="${choice.c5 != null && choice.c5 !=''}">
					<label>
						<input type="radio" th:name="${'choice' + quest.questNo}" class="choice"  th:text="${choice.c5}" value="5"/>
					</label>
				</li>
			</ol>
		</div>
		<button type="button" onclick="questDetailsBtn(this)"
			class="questDetailsBtn" th:value="${quest.questNo}">상세보기</button>
	</div>
</body>
</html>