<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Clever</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/main/header.css" />
<link rel="stylesheet" href="/css/quest/quest-detail.css" />
<link rel="stylesheet" href="/css/main/footer.css" />
<script src="/js/script.js"></script>
<script src="https://kit.fontawesome.com/267f657aa0.js"
	crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script defer>
	const placeholder = $('placeholder');
	const button = $('#sendCommentBtn');

	button.disabled = true;

	function stateHandle() {
		if (placeholder.val() === '') {
			button.disabled = true;
		} else {
			button.disabled = false;
		}
	}

	function sendCommentBtn() {
		alert('11');
	}

	function replyOnclick(button) {
		// $('button', $('#replyDropdown')).classList.toggle('show');
		button.querySelector('#replyDropdown').classList.toggle('show');

		window.onclick = function(event) {
			if (event.target.matches('#replyDropdown')) {
				button.getElementById('replyDropdown').classList.remove('show');
				comment.css({
					padding : '32px',
				});
			}

			var dropdowns = button.getElementsByClassName('profile-dropdown');
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
				}
			}
		};
	}

	function editReply(locaion) {
		$.ajax({
			url : '/edit-reply',
			type : 'POST',
			dataType : 'text',
			data : {},
			success : function(data) {
				$('.replace-commentEdit').html(data);
			},
		});
	}

	function deleteReply(locaion) {
		var input = confirm('댓글을 삭제하시겠습니까?');
		if (input == true) {
			$.ajax({
				url : '/delete-reply',
				type : 'POST',
				data : {},
				success : function(data) {
					alert('댓글이 삭제되었습니다.')
					location.href = '/quest';
				},
			});
		}
	}

	function nextBtn() {
		var no = $('#questNo').val();

		$.ajax({
			url : '/quest/next',
			type : 'post',
			data : {
				questNo : no
			},
			success : function(data) {
				if (data == 0)
					alert('마지막 문제 입니다.');
				else {
					location.href = '/quest/' + data;
				}
			}
		})
	}
	function sendCommentBtn() {
		var no = $('#questNo').val();
		$.ajax({
			url : "/insertReply",
			type : "POST",
			//dataType : "text",
			//contentType : "application/json",
			data : {
				content : $('#reply_content').val(),
				questNo : no,
				RegUser : $('#RegUser').val()
			},
			success : function(message) {
				alert(message);
				//alert('저장 성공!');
				location.href = '/quest/' + no;
			},
			error : function(data) {
				alert('저장 실패!');

			}
		});
	}
	function Goedit(button) {
		var id = button.value;
		var no = $('#questNo2').val();

		$.ajax({
			url : "/edit-reply/" + id,
			type : "post",
			data : {
				id : id,
			},
			contentType : "application/json",
			success : function(data) {
				$(button).parents('.comment__content').find(
						'.replace-commentEdit').html(data);
			},
			error : function() {
				alert("댓글이 수정되었습니다.")
				location.href = '/quest/' + no;
			}
		});
	}

	function deleteReply(id) {
		var no = $('#questNo3').val();
		var input = confirm('댓글을 삭제하시겠습니까?');
		if (input == true) {
			$.ajax({
				url : "/delete-reply/" + id,
				type : 'POST',
				data : {},
				success : function(data) {
					alert('댓글이 삭제되었습니다.')
					location.href = '/quest/' + no;
				},
			});
		}
	}

	function answer(event) {
		var ans = $('input[name=choice]:checked')[0].value;

		$.ajax({
			url : '/quest/check',
			type : 'post',
			data : {
				param : JSON.stringify({
					questNo : $('#questNo').val(),
					answer : ans
				})
			},
			success : function(data) {
				if (data.length != 0)
					alert('정답!');
				else
					alert('오답');
			}
		});
	}
</script>
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header :: header"></div>
	<hr>

	<!-- quest: 현재 문제 정보 출력 -->
	<div id="testDetails">
		<h1 th:text="${info.TEST_NAME}">시험 이름</h1>
		<div class="details__title">
			<h2 th:text="${info.ROUND_NAME}">회차 이름</h2>
			<p>총</p>
			<p th:text="${info.COUNT}">문제 개수</p>
			<p>문제</p>
		</div>
		<input type="hidden" id="questNo" th:value="${quest.questNo}">
	</div>

	<hr>

	<!-- quest: 현재 문제 내용 출력 -->
	<div id="quest">
		<div class="questNumAndQuestContent">
			<p class="questInfo">
				<span class="questNum" th:text="${quest.questSeq}"></span> <span
					class="questNum">.</span> <span class="questContent"
					th:text="${quest.questContent}"> </span>

			</p>
		</div>

		<!-- 객관식 경우 -->
		<div class="questChoices" th:if="${quest.choice.c1 != null}">
			<ol onchange="answer(this);" th:with="choice = ${quest.choice}">
				<li th:if="${choice.c1 != null}"><label> <input
						type="radio" name="choice" class="choice"
						th:text="${quest.choice.c1}" value="1" />
				</label></li>
				<li th:if="${choice.c2 != null}"><label> <input
						type="radio" name="choice" class="choice"
						th:text="${quest.choice.c2}" value="2" />
				</label></li>
				<li th:if="${choice.c3 != null && choice.c3 !=''}"><label>
						<input type="radio" name="choice" class="choice"
						th:text="${quest.choice.c3}" value="3" />
				</label></li>
				<li th:if="${choice.c4 != null && choice.c4 !=''}"><label>
						<input type="radio" name="choice" class="choice"
						th:text="${quest.choice.c4}" value="4" />
				</label></li>
				<li th:if="${choice.c5 != null && choice.c5 !=''}"><label>
						<input type="radio" name="choice" class="choice"
						th:text="${quest.choice.c5}" value="5" />
				</label></li>
			</ol>
		</div>
		<!-- 주관식 경우 -->
		<div class="questAnswer" th:if="${quest.choice.c1 == null}">
			<input class="short-answer" type="text" />
		</div>
	</div>

	<div id="goBack">
		<button onclick="nextBtn()" id="goBackBtn">다음 문제</button>
	</div>
	<hr />

	<div id="comment">
		<!-- write comment -->
		<div id="writeComment" th:value="${quest.questNo}"
			th:if="${session.user != null}">
			<!-- user info -->
			<div class="user__profile">
				<!-- 프로필 사진 -->
				<div class="profile__img">
					<img
						th:src="${'/imgs/profile/user/' + session.user.userId + '.png'}" />
				</div>
				<!-- 이름 -->
				<p th:text="${session.user.userNickname}" id="profile__name">오다원</p>
				<!-- 레벨 -->
				<div id="profile__badge">
					<img th:if="${session.user.userExp} >= 300"
						src="/imgs/badge/master.svg" /><img
						th:if="${session.user.userExp} >= 100"
						src="/imgs/badge/level2.svg" /><img
						th:if="${session.user.userExp} >= 50" src="/imgs/badge/level1.svg" /><img
						th:if="${session.user.userExp} >= 0" src="/imgs/badge/new.svg" />
				</div>
			</div>
			<!-- write comment form -->
			<textarea class="writeForm" id="reply_content"
				placeholder="댓글을 작성해주세요."></textarea>
			<!-- send button -->
			<div id="sendBtn">
				<input type="button" onclick="sendCommentBtn()" id="sendCommentBtn"
					value="전송" /> <input type="hidden" id="questNo"
					th:value="${quest.questNo}"> <input type="hidden"
					id="RegUser" th:value="${session.user.userId}">
			</div>

		</div>

		<ul id="commentList">
			<li>
				<!-- user info --> <!-- 프로필 사진 -->
				<div th:each="reply:${user}" class="comment__content">
					<div class="leftWrapper">
						<div class="profile__img">
							<img th:src="${'/imgs/profile/user/' + reply.REG_USER + '.png'}" />
						</div>
						<!-- 유저 이름/등급 / 댓글 내용 -->
						<div class="userInfoAndCommentWrapper">
							<div class="profileWrapper">
								<div class="nameAndLevelWrapper">
									<!-- 이름 -->
									<p th:text="${reply.USER_NICKNAME}" id="profile__name"></p>
									<!-- 레벨 -->
									<div id="profile__badge">
										<img th:if="${reply.USER_EXP} >= 300"
											src="/imgs/badge/master.svg" /><img
											th:if="${reply.USER_EXP} >= 100" src="/imgs/badge/level2.svg" /><img
											th:if="${reply.USER_EXP} >= 50" src="/imgs/badge/level1.svg" /><img
											th:if="${reply.USER_EXP} >= 0" src="/imgs/badge/new.svg" />
									</div>
								</div>
								<!-- 작성 시간 -->
								<p th:text="${#dates.format(reply.REG_TIME,'yyyy-MM-dd HH:mm')}"></p>
							</div>
							<div class="commentContent">
								<p th:text="${reply.CONTENT}" class="replace-commentEdit"></p>
							</div>
						</div>
					</div>
					<div onclick="replyOnclick(this)"
						th:if="${session.user?.userId == reply.REG_USER || session.user?.userRole?.toString() == 'ADMIN'}"
						class="comment__actions">
						<i class="fa-solid fa-ellipsis-vertical"></i>
						<div id="replyDropdown" class="reply-dropdown">
							<ul>
								<li><button th:onclick="Goedit(this)"
										th:value="${reply.REPLY_NO}" style="display: block;">수정</button>
									<input type="hidden" id="questNo2" th:value="${reply.QUEST_NO}">
								</li>
								<li th:onclick="deleteReply([[${reply.REPLY_NO}]])">삭제</a> <input
									type="hidden" id="questNo3" th:value="${reply.QUEST_NO}">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>