<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<body>
	<ul class="category__list">
		<li>
			<p>총</p>
			<p th:text="${roundList.size}"></p>
			<p>회</p>
		</li>
		<li th:each="round:${roundList}" class="round" tab-index="0">• <a
			th:href="${'/round/' + round.roundNo}" th:text="${round.roundName}">
		</a>
		</li>
		
	 <li><div id="noQuestList" th:if="${roundList.size == 0}"> 
		<img src="/imgs/etc/sorry.svg" />
		<div class="describe">
			<h1>Oops!</h1>
			<h2>아직 올라온 회차가 없습니다</h2>
			<h3>직접 문제를 등록하시려면, 로그인 후 회차 추가 버튼을 눌러주세요!</h3>
		</div>
	</div></li>
	</ul>
	
	<div id="questList" th:if="${roundList.size != 0}"></div>

	
</body>
</html>