<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Clever</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/main/header.css" />
<link rel="stylesheet" href="/css/category/categoryList.css" />
<link rel="stylesheet" href="/css/main/footer.css" />
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/script.js"></script>
<style type="text/css">
hr {
	width: 100%;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$.ajax({
			url : '/round/list',
			type : 'post',
			data : {
				testNo : $('#testNo').attr('value')
			},
			success : function(data) {
				$('#roundCount').html(data.length);
				$.ajax({
					url : '/round',
					type : 'post',
					data : {
						param : JSON.stringify(data)
					},
					success : function(data) {
						$('#roundList').html(data);
					}
				})
			}
		})
	})
</script>
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header :: header"></div>
	<hr>

	<!-- 대분류 카테고리 이름 -->
	<div id="category">
		<div id="category__info">
			<div id="info__title">
				<h1 id="testNo" th:value="${test.testNo}" th:text="${test.testName}"></h1>
				<div id="info__manager">
					<p>담당 매니저:</p>
					<p>manager33</p>
				</div>
			</div>
			<section th:if="${session.user != null}"
				th:with="info = ${session.user}">
				<div>
					<form action="/insertRound" method="post" id="info__button">
						<input type="hidden" id="testNo" th:value="${test.testNo}"
							name="testNo"> <input type="hidden" id="testName"
							th:value="${test.testName}" name="testName"> <input
							type="hidden" id="managerId" th:value="${test.managerId}"
							name="managerId">
						<button type="submit" id="newTestBtn">회차 추가</button>
					</form>
				</div>
			</section>
		</div>

		<div id="navbar__divider"></div>

		<div id="roundList"></div>
	</div>


	<!-- footer -->
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>