body {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

hr {
	  width: 100%;
	
}

#newTestBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  min-width: 110px;

  white-space: nowrap;

  padding: 2px 16px 0 16px;

  border: 0px;
  border-radius: 1px;

  font-size: var(--font-medium);
  line-height: 24px;
  letter-spacing: -0.015em;

  color: var(--color-white);
  background-color: rgb(61, 61, 61);
}

#newTestBtn:hover {
  color: #8c8c8c;
}

#newTestBtn:active {
  background-color: var(--color-black);
}

/* Category List */
#category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-width: 1160px;

  cursor: default;
}

#category > #category__info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: var(--color-black);
}

#category > #category__info > #info__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 12px 0;
}

#category > #category__info > #info__title h1 {
  padding-bottom: 4px;

  font-size: 28px;
  font-weight: 500;
}

#category > #category__info > #info__title > #info__manager {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: var(--font-medium);
  font-weight: 500;
}

#category > #category__info > #info__title > #info__manager p:first-child {
  padding-right: 6px;
}

#category > #category__info #info__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#category > #roundList {
  width: 100%; 
  height: auto;
}

#category > #roundList ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  flex-wrap: wrap;

  width: 100%; 
  max-height: 700px;

  padding: 28px 0 100px 0;
}

#category > #roundList > ul li {
  display: flex; 
	
  width: 100%; 
	
  padding: 4px 0;
}

#category > #roundList > ul li:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 18px;

  font-weight: 500;
}

#category > #roundList > ul > li:first-child p:first-child {
  padding-right: 4px;
}

#category > #roundList > ul > li:first-child p:nth-child(2) {
  margin-top: 2px;
}

#category > #roundList > ul > li a {
  font-size: var(--font-xlarge);
  font-weight: 400;

  color: var(--color-black);
}

#category > #roundList > ul > li a:hover {
  font-weight: 500;
  color: var(--color-green);

  text-decoration: underline;
  text-underline-offset: 2px;
}

#category > #roundList > ul > li #noQuestList {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 1160px;

  padding: 100px;

  background: none;

  color: var(--color-black);
}

#noQuestList img {
  padding-right: 70px;

  transition: var(--transition-default);
}

#noQuestList img:hover {
  transform: scale(0.8);
}

#noQuestList .describe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#noQuestList > .describe > h1 {
  font-family: 'Clash Display';
  font-size: 60px;
  font-weight: 600;

  padding-bottom: 48px;
}

#noQuestList > .describe > h2 {
  font-size: var(--font-big);
  font-weight: 600;
}

#noQuestList > .describe > h3 {
  font-size: var(--font-xlarge);
  font-weight: 500;
}

@media screen and (max-width: 1270px) {
  #category {
    padding: 0 50px;
  }
  
  #noQuestList {
    padding: 100px 50px;
  }
}