<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dip.clever.mapper.LogMapper">
	<insert id="insertLog" parameterType="dip.clever.model.Log">
		INSERT TB_LOG
		VALUES(#{userId}, #{action}, #{targetId}, SYSDATE());
	</insert>
		
	<!-- 밑에 부분은 사용하지 않음 -->
	<!-- 회차 매핑 -->
	<resultMap type="dip.clever.model.Quest" id="quest" >
		<result property="questNo" 	column="QUEST_NO"/>
		<result property="roundNo" column="ROUND_NO"/>		
		<result property="questSeq" column="QUEST_SEQ"/>
		<result property="questContent" column="QUEST_CONTENT"/>
		<result property="choiceNo" column="CHOICE_NO"/>
		<result property="answer" column="ANSWER"/>
	</resultMap>
	
	<select id="checkUser" parameterType="int" resultType="String">
		SELECT		USER_ID
		FROM		TB_ARTICLE
		WHERE		NO = ${no}
	</select>
	
	<update id="updateArticle" parameterType="map">
		UPDATE	TB_ARTICLE
		SET		TITLE = #{title},
				CONTENT = #{content},
				MOD_DATE = SYSDATE()
		WHERE	NO = #{no}
	</update>
	
	<update id="deleteArticle" parameterType="int">
		UPDATE	TB_ARTICLE
		SET		USE_F = 'N'
		WHERE	NO = #{no}
	</update>	
	
<!-- 	<resultMap type="info.thecoding.model.Article" id="article" >
		<result property="boardId" 	column="BOARD_ID"/>
		<result property="boardName"	column="BOARD_NAME"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userId"	column="USER_ID"/>
		<result property="title"	column="TITLE"/>
		<result property="creDate"	column="CRE_DATE"/>
		<result property="modDate"	column="MOD_DATE"/>
		<result property="content"	column="CONTENT"/>
		<result property="readCnt"	column="READ_CNT"/>
	</resultMap> -->
</mapper>