<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dip.clever.mapper.ManageQuestMapper">
	
	<!-- 
	<select id="joinQuest" parameterType="int" resultType="java.util.HashMap">
	SELECT  T1.QUEST_NO, T1.QUEST_CONTENT, T2.C1, T2.C2, T2.C3, T2.C4, T2.C5 
	FROM TB_QUEST		AS T1
	INNER JOIN TB_CHOICE 	AS T2 
		ON T2.CHOICE_NO = T1.CHOICE_NO
	WHERE T1.use_f = 'Y'
	AND T1.CHOICE_NO = #{choiceNo}
	</select> -->
	
	<select id="joinQuest" parameterType="int" resultType="java.util.HashMap">
	SELECT  T1.QUEST_NO, T1.QUEST_CONTENT, T2.C1, T2.C2, T2.C3, T2.C4, T2.C5 
	FROM TB_QUEST		AS T1
	INNER JOIN TB_CHOICE 	AS T2 
		ON T2.QUEST_NO = T1.QUEST_NO
	WHERE T1.use_f = 'Y'
	AND T1.QUEST_NO = #{questNo}
	</select>
	<!-- 문제정보 등록 -->
	<insert id="insertQuest" parameterType="dip.clever.model.Quest">
		INSERT INTO TB_QUEST (ROUND_NO, QUEST_SEQ, QUEST_CONTENT, ANSWER)
		VALUES(#{roundNo}, #{questSeq}, #{questContent}, #{answer})
	</insert>
	
	<!-- 선지등록 -->
	<insert id="insertChoice" parameterType="dip.clever.model.Choice">
		INSERT INTO TB_CHOICE (QUEST_NO, C1, C2, C3, C4, C5)
		VALUES(#{questNo}, #{c1}, #{c2}, #{c3}, #{c4}, #{c5})
	</insert>
	
	<!-- 선지번호 불러옴 -->
	<select id="selectQuestNo" resultType="int">		
		SELECT	QUEST_NO
		FROM	TB_QUEST
		WHERE	QUEST_NO = LAST_INSERT_ID()
	</select>	
	
	
	
	<!-- 회차이름 선택 -->
	<select id="selectRound" parameterType="dip.clever.model.Round" resultMap="roundMap">
	 SELECT * FROM TB_ROUND
	 WHERE USE_F = 'Y'
	 AND ROUND_NO = #{roundNo}
	</select>
	
	<!-- 문제정보 수정 -->
	
	
	
	
	<resultMap type="dip.clever.model.Round" id="roundMap" >
		<result property="questNo" column="QUEST_NO"/>
		<result property="roundNo" column="ROUND_NO"/>
		<result property="questSeq" column="QUEST_SEQ"/>
		<result property="questContent" column="QUEST_CONTENT"/>
		<result property="choiceNo" column="CHOICE_NO"/>
		<result property="answer" column="ANSWER"/>
	</resultMap>
	
	
	<resultMap type="dip.clever.model.Quest" id="questMap" >
		<result property="questNo" column="QUEST_NO"/>
		<result property="roundNo" column="ROUND_NO"/>
		<result property="questSeq" column="QUEST_SEQ"/>
		<result property="questContent" column="QUEST_CONTENT"/>
		<result property="choiceNo" column="CHOICE_NO"/>
		<result property="answer" column="ANSWER"/>
	</resultMap>

</mapper>






