<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dip.clever.mapper.ReplyMapper">


	<resultMap type="dip.clever.model.Reply" id="replyMap">
		<result property="replyNo" column="REPLY_NO" />
		<result property="questNo" column="QUEST_NO" />
		<result property="regUser" column="REG_USER" />
		<result property="content" column="CONTENT" />
		<result property="regTime" column="REG_TIME" />

	</resultMap>


	<!-- 댓글 리스트출력 -->
	<select id="findAll" resultMap="replyMap">
		SELECT *
		FROM TB_REPLY
	</select>

	<!-- 회원가입 -->
	<insert id="insertReply" parameterType="dip.clever.model.Reply">
		INSERT INTO TB_REPLY
		(QUEST_NO,REG_USER,CONTENT,USE_F)

		VALUES(#{questNo},#{regUser},#{content},'Y')
	</insert>

	<!-- USER 테이블과 REPLY테이블 조인하여 정보 출력 -->
	<select id="joinUser" parameterType="int"
		resultType="java.util.HashMap">
		SELECT	T2.USER_NICKNAME, 
			T1.CONTENT, 
			T1.REG_TIME, 
			T1.REPLY_NO, 
			T1.REG_USER, 
			T1.QUEST_NO,
			IFNULL(T3.USER_EXP, 0)	AS USER_EXP
		FROM tb_reply AS T1
		LEFT JOIN	(
			SELECT	USER_ID, COUNT(*)			AS USER_EXP
			FROM (
				SELECT		T3.*
				FROM			TB_LOG				AS T3
				INNER JOIN		TB_USER				AS T4
					ON				T3.USER_ID = T4.USER_ID
				WHERE			ACTION = 'SOLVED'
				GROUP BY		USER_ID, TARGET_ID
				)		AS T
			GROUP BY 		USER_ID
			)			AS T3
			ON					T1.REG_USER = T3.USER_ID		
		INNER JOIN tb_user AS T2
			ON T2.USER_ID = T1.REG_USER
		WHERE T1.use_f = 'Y'
		AND Quest_no = #{no}
	</select>

	<!-- 유저 삭제 -->
	<update id="deleteReply" parameterType="String">
		UPDATE TB_REPLY
		SET USE_F
		= 'N'
		WHERE reply_no = #{id}
	</update>

	
	<!-- 댓글 수정 -->
	<update id="modifyReply" parameterType="dip.clever.model.Reply">
	    UPDATE TB_REPLY SET
		CONTENT = #{content}
	    WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 아이디로 유저 찾기 -->
	<select id="findReplyById" resultMap="replyMap">
		SELECT	*
		FROM	TB_REPLY
		WHERE	REPLY_NO = #{replyNo}
	</select>
	
	<select id="selectMyReply" parameterType="string" resultType="java.util.HashMap">
		SELECT		T4.TEST_NAME,
					T3.ROUND_NAME,				
					T2.QUEST_SEQ, 
					T1.QUEST_NO, 
					T1.CONTENT, 
					T1.REG_TIME
		FROM		TB_REPLY	AS T1
		INNER JOIN	TB_QUEST	AS T2
			ON			T2.QUEST_NO = T1.QUEST_NO
		INNER JOIN	TB_ROUND	AS T3
			ON			T3.ROUND_NO = T2.ROUND_NO
		INNER JOIN	TB_TEST	AS T4
			ON			T4.TEST_NO = T3.TEST_NO
		WHERE		T1.REG_USER = #{userId}
		AND			T1.USE_F = 'Y'
	</select>
</mapper>